<section>
    <div class="inner">
        <h2 class="centered">{% if page.lang == "zh" %}帮助客户取得成功{% else %}Helped clients for their success{% endif %}</h2>
        <div class="row logos">
            <div class="2u 3u(small)">
                <a class="image" href="https://xamarin.com" target="_blank" rel="noreferrer nofollow">
                    <img src="/assets/img/xamarin-logo.png" alt="Xamarin" />
                </a>
            </div>
            <div class="2u 3u(small)">
                <a class="image" href="https://engineering.uottawa.ca/ceed/design-spaces/makerspace" target="_blank" rel="noreferrer nofollow">
                    <img src="/assets/img/makerspace-logo.png" alt="Makerspace" />
                </a>
            </div>
            <div class="2u 3u(small) logo-center">
                <a class="image" style="width: 60%; margin: 0 auto;" href="https://www.campuscloud.ca" target="_blank" rel="noreferrer nofollow">
                    <img src="/assets/img/wooko-logo.jpg" alt="Wooko" />
                </a>
            </div>
            <div class="2u 3u(small) logo-center">
                <a class="image" style="width: 80%; margin: 0 auto;" href="https://bumpn.com" target="_blank" rel="noreferrer nofollow">
                    <img src="/assets/img/bumpn-logo.png" alt="Bumpn" />
                </a>
            </div>
            <div class="2u 3u(small)">
                <a class="image" href="https://ottawazine.com" target="_blank" rel="noreferrer nofollow">
                    <img src="/assets/img/ottawazine-logo.jpg" alt="Ottawazine" />
                </a>
            </div>
            <div class="2u 3u(small)">
                <a class="image" href="https://www.jibespot.com" target="_blank" rel="noreferrer nofollow">
                    <img src="/assets/img/jibespot-logo.svg" alt="Jibespot" />
                </a>
            </div>
        </div>
    </div>
</section>