<section id="contact" class="clearfix">
    <div class="inner">
        <section>
            <form action="https://formspree.io/f/{{ site.form_id }}" method="POST">
                <div class="field half first">
                    <label for="name">{% if page.lang == "zh" %}姓名{% else %}Name{% endif %}</label>
                    <input type="text" name="name" id="name" />
                </div>
                <div class="field half">
                    <label for="email">{% if page.lang == "zh" %}电子邮箱{% else %}Email{% endif %}</label>
                    <input type="text" name="_replyto" id="email" />
                </div>
                <div class="field">
                    <label for="message">{% if page.lang == "zh" %}消息{% else %}Message{% endif %}</label>
                    <textarea name="message" id="message" rows="6"></textarea>
                </div>
                <ul class="actions">
                    <li><input type="submit" value="{% if page.lang == 'zh' %}发送消息{% else %}Send Message{% endif %}" class="special" /></li>
                    <li><input type="reset" value="{% if page.lang == 'zh' %}清空{% else %}Clear{% endif %}" /></li>
                </ul>
            </form>
        </section>
        <section class="split">
            <section>
                <div class="contact-method">
                    <span class="icon alt fa-envelope"></span>
                    <h3>{% if page.lang == "zh" %}电子邮箱{% else %}Email{% endif %}</h3>
                    <a href="mailto:{{ site.email }}">{{ site.email }}</a>
                </div>
            </section>
            <section>
                <div class="contact-method">
                    <span class="icon alt fa-wechat"></span>
                    <h3>{% if page.lang == "zh" %}微信{% else %}WeChat{% endif %}</h3>
                    <img alt="{% if page.lang == 'zh' %}微信二维码{% else %}WeChat QR code{% endif %}" class="wechat-code" src="{{ site.baseurl }}/assets/img/wechat-code.png">
                </div>
            </section>
            <section>
                <div class="contact-method">
                    <span class="icon alt fa-map-pin"></span>
                    <h3>{% if page.lang == "zh" %}当前地点{% else %}Location{% endif %}</h3>
                    <span>
						{% if page.lang == "zh" %}
							{{ site.zh.city }}, {{ site.zh.state }}, {{ site.zh.country }}
						{% else %}
							{{ site.city }}, {{ site.state }}, {{ site.country }}
						{% endif %}
					</span>
                </div>
            </section>
        </section>
    </div>
</section>
