<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header">
	<a href="{{ site.baseurl }}/{% if page.lang == 'zh' %}zh{% endif %}" class="logo">
		<strong>
			{% if page.lang == "zh" %}
				{{ site.zh.title_bold }}
			{% else %}
				{{ site.title_bold }}
			{% endif %}
		</strong>
		<span>
			{% if page.lang == "zh" %}
				{{ site.zh.title_normal }}
			{% else %}
				{{ site.title_normal }}
			{% endif %}
		</span>
	</a>
	<nav>
		<span>
			<a class="button {% if page.lang == 'zh' %}special inactive{% elsif page.bilingual == false %}disabled{% endif %} small zh switch" href="{% if page.lang != 'zh' and page.bilingual != false %}/zh{{ page.url }}{% else %}javascript:void(0){% endif %}" hreflang="zh">中</a><a class="button {% if page.lang != 'zh' %}special inactive{% elsif page.bilingual == false %}disabled{% endif %} small en switch" href="{% if page.lang == 'zh' and page.bilingual != false %}{{ page.url | replace: '/zh', '' }}{% else %}{{ javascript:void(0) }}{% endif %}" hreflang="en">EN</a>
		</span>
		<a href="#menu">
			{% if page.lang == "zh" %}
				菜单
			{% else %}
				Menu
			{% endif %}
		</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
		{% if page.lang == "zh" %}
			<li><a href="/zh">主页</a></li>
			<li><a href="/zh/blog/">博客</a></li>
			<li><a href="/zh/about/">关于</a></li>
		{% else %}
		<li><a href="/">Home</a></li>
		<li><a href="/blog/">Blog</a></li>
		<li><a href="/about/">about</a></li>
		{% endif %}
	</ul>
	<ul class="actions vertical">
		{% if page.lang == "zh" %}
		<li><a href="/zh/portfolio/" class="button special fit">个人作品</a></li>
		{% else %}
			<li><a href="/portfolio/" class="button special fit">Portfolio</a></li>
		{% endif %}
	</ul>
</nav>