<header id="header">
	<p class="title">
		<strong>
			{% if page.lang == "zh" %}
				{{ site.zh.title }}
			{% else %}
				{{ site.title }}
			{% endif %}
		</strong>
		<span>
			{% if page.lang == "zh" %}
				{{ site.zh.subtitle }}
			{% else %}
				{{ site.subtitle }}
			{% endif %}
		</span>
	</p>
	<nav>
        <a href="{{ site.baseurl }}/{% if page.lang == 'zh' %}zh{% endif %}" class="logo">
            <img alt="{% if page.lang == 'zh' %}主页{% else %}Home{% endif %}" src="{{ site.baseurl }}/assets/img/favicon.png" />
        </a>
		<span class="lang-switcher">
			<a class="button{% if page.lang == 'zh' %} special inactive{% elsif page.bilingual == false %} disabled{% endif %} small zh switch" href="{% if page.lang != 'zh' and page.bilingual != false %}/zh{{ page.url }}{% else %}javascript:void(0){% endif %}" hreflang="zh">中</a><a class="button {% if page.lang != 'zh' %}special inactive{% elsif page.bilingual == false %}disabled{% endif %} small en switch" href="{% if page.lang == 'zh' and page.bilingual != false %}{{ page.url | replace: '/zh', '' }}{% else %}{{ javascript:void(0) }}{% endif %}" hreflang="en">EN</a>
		</span>
		<a href="#menu">
			{% if page.lang == "zh" %}
				菜单
			{% else %}
				Menu
			{% endif %}
		</a>
	</nav>
</header>

<nav id="menu">
	<ul class="links">
		{% if page.lang == "zh" %}
			<li><a href="/zh">主页</a></li>
			<li><a href="/zh/blog/">博客</a></li>
			<li><a href="/zh/about/">关于</a></li>
			<li><a href="/zh/portfolio/" class="button special fit portfolio">案例与作品</a></li>
		{% else %}
		<li><a href="/">Home</a></li>
		<li><a href="/blog/">Blog</a></li>
		<li><a href="/about/">about</a></li>
		<li><a href="/portfolio/" class="button special fit portfolio">Portfolio</a></li>
		{% endif %}
	</ul>
</nav>