<!-- Wrapper -->
<div id="wrapper">

<!-- Header -->
<header id="header">
	<a href="{{ site.baseurl }}{% if page.lang == 'zh' %}/zh{% endif %}" class="logo">
		<strong>
			{% if page.lang == "zh" %}
				{{ site.zh.title_bold }}
			{% else %}
				{{ site.title_bold }}
			{% endif %}
		</strong>
		<span>
			{% if page.lang == "zh" %}
				{{ site.zh.title_normal }}
			{% else %}
				{{ site.title_normal }}
			{% endif %}
		</span>
	</a>
	<nav>
		<span>
			<a class="button {% if page.lang == 'zh' %}special inactive{% elsif page.bilingual == false %}disabled{% endif %} small zh switch" href="/zh{{ page.url }}">中</a><a class="button {% if page.lang != 'zh' %}special inactive{% elsif page.bilingual == false %}disabled{% endif %} small en switch" href="{{ page.url | replace: '/zh', '' }}">EN</a>
		</span>
		<a href="#menu">
			{% if page.lang == "zh" %}
				菜单
			{% else %}
				Menu
			{% endif %}
		</a>
	</nav>
</header>

<!-- Menu -->
<nav id="menu">
	<ul class="links">
		{% if page.lang == "zh" %}
			<li><a href="/zh">主页</a></li>
			<li><a href="/zh/blog.html">博客</a></li>
			<li><a href="/zh/about.html">关于</a></li>
		{% else %}
		<li><a href="/">Home</a></li>
		<li><a href="/blog.html">Blog</a></li>
		<li><a href="/about.html">about</a></li>
		{% endif %}
	</ul>
	<ul class="actions vertical">
		{% if page.lang == "zh" %}
		<li><a href="/zh/portfolio.html" class="button special fit">个人作品</a></li>
		{% else %}
			<li><a href="/portfolio.html" class="button special fit">Portfolio</a></li>
		{% endif %}
	</ul>
</nav>