<section class="tiles">
	{% for project in site.projects %}
        {% if project.lang == page.lang %}
            {% if include.category %}
                {% if include.category == project.category %}
                    <article>
                        <span class="image">
                            <img src="{{ site.baseurl }}{{ project.image }}" alt="{{ project.title }}" />
                        </span>
                        <header class="major">
                            <h3><a href="{{ site.baseurl }}{{ project.url }}" class="link">{{ project.title }}</a></h3>
                            <p>{{ project.description }}</p>
                            {% if project.tag %}<h6 class="icon fa-tag"> {{ project.tag }}</h6>{% endif %}
                        </header>
                    </article>
                {% endif %}
            {% else %}
                <article>
                    <span class="image">
                        <img src="{{ site.baseurl }}{{ project.image }}" alt="{{ project.title }}" />
                    </span>
                    <header class="major">
                        <h3><a href="{{ site.baseurl }}{{ project.url }}" class="link">{{ project.title }}</a></h3>
                        <p>{{ project.description }}</p>
                        {% if project.tag %}<h6 class="icon fa-tag"> {{ project.tag }}</h6>{% endif %}
                    </header>
                </article>
            {% endif %}
        {% endif %}
	{% endfor %}
</section>
