<section id="one" class="tiles">
	{% for project in site.projects limit:site.tiles-count %}
        {% if project.lang == page.lang %}
            <article>
                <span class="image">
                    <img src="{{ site.baseurl }}{{ project.image }}" alt="{{ project.title }}" />
                </span>
                <header class="major">
                    <h3><a href="{{ site.baseurl }}{{ project.url }}" class="link">{{ project.title }}</a></h3>
                    <p>{{ project.description }}</p>
                    {% if project.tag %}<h6 class="icon fa-tag"> {{ project.tag }}</h6>{% endif %}
                </header>
            </article>
        {% endif %}
	{% endfor %}
	{% for page in site.pages limit:site.tiles-count %}
	{% if site.tiles-source == 'pages' %}
        <article>
                <span class="image">
                        <img src="{{ site.baseurl }}{{ page.image }}" alt="{{ page.title }}" />
                </span>
                <header class="major">
                        <h3><a href="{{ site.baseurl }}{% if page.lang == 'zh' %}/zh{% endif %}{{ page.url}}" class="link">{{ page.title }}</a></h3>
                        <p>{{ page.description }}</p>
                </header>
        </article>
	{% endif %}
	{% endfor %}
</section>
