#header nav {
  span {
    padding-left: 8px;
  }

  a.button.small.switch {
    line-height: 30px;
    height: 30px;
    display: inline-block;
    padding-right: 8px;
    padding-left: 8px;
    width: 40px;
    border-radius: 5px 0 0 5px;
    &.en {
      margin-right: 8px;
      border-radius: 0 5px 5px 0;
    }
    &.inactive {
      pointer-events: none;
      cursor: default;
    }
  }
}

.marvel {
  display: flex;
  justify-content: center;
  align-items: center;
  &.column {
    flex-direction: column;
  }
}

.download.badge {
  border-bottom: none;
}

.centered {
  text-align: center;
}

blockquote p {
  margin-bottom: 0;
}

.avatar {
 border-radius: 30% 70% 70% 30% / 30% 30% 70% 70%;
}

img:not(.emoji):not(.badge):not(.avatar) {
  display: block;
  margin: auto;
  max-width: 100%;

  .article & {
    max-width: 90%;

    @include breakpoint(small) {
      max-width: 100%;
    }
  }
}

iframe {
  max-width: 800px;
  display: block;
  margin: auto;
}

figure figcaption {
  text-align: center;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 45px;

  @include breakpoint(small) {
    flex-wrap: wrap;
  }
}

.logo-center {
  display: flex;
  justify-content: center;
}

#banner.index {
  &:before {
    content: '';
    position: absolute;
    width: 35vw;
    min-width: 600px;
    height: 25vw;
    right: 30px;
    bottom: -150px;
    background: url("/assets/img/splash.jpg") right / contain no-repeat;

    @include breakpoint(small) {
      width: 270px;
      height: 50vw;
      bottom: -90px;
    }
  }
}

.relative-position {
  position: relative;
}
